.table-6-top{
    border: .8px solid gray;
    border-radius: 20px;
    background-color: whitesmoke;
}
.row{
    line-height: normal
}
.MuiInput-underline:before {
    border-bottom: none!important;
    outline: none;
}
.Table2{
    margin-top: 40px;
}
.User{
    font-weight: 700;
}
.project{
    font-weight: 700;
}
.scrollBar{
    /* height:  100px !important; */
    /* overflow-y: scroll; */
    /* width: 100%; */
}